.master-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 16px;
    background-color: #0d6efd;
    color: white;
    font-size: 24px;
}

.bottom-footer{
    padding: 9px 9px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0d6efd;
    color: white;
}

.panel-container{
    display: flex;
    margin: 20px 0;
    width: 100%;
    justify-content: space-around;
}

.output-panel{
    display:flex;
    flex-direction: column;
    min-width: 250px;
    height: 400px;
    overflow-y: scroll;
}

.input-panel{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.left-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.controls-list{
}

.right-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marquee {
    height: 80px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    border: 1px solid #4a4a4a;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 1s linear infinite;
    -webkit-animation: scroll-left 1s linear infinite;
    animation: scroll-left 5s linear infinite;
    font-size: 40px;
    color: white;
    text-shadow: -4px 4px #ef3550,
    -8px 8px #f48fb1,
    -12px 12px #7e57c2,
    -16px 16px #2196f3,
    -20px 20px #26c6da,
    -24px 24px #43a047,
    -28px 28px #eeff41,
    -32px 32px #f9a825,
    -36px 36px #ff5722;}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

ul{
    max-height: 400px;
    overflow: scroll;
}